


body {
    background-color: rgba(255, 255, 255, 0.653);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

#counter-body {
    position: relative;
    margin-top: 20%;
}

.controls {
    background-color: rgb(255, 255, 255);
    border: solid rebeccapurple;
    border-radius: 6px;
    font-family: monospace;
    padding: 8px;
    box-shadow: 1px 1px 1px 1px rgb(223, 217, 217);
}

.controls:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}

#decrease-button {
    color: red;
    position: absolute;
    margin-left: -150px;
}

#decrease-button:hover {
    background-color: rgba(255, 0, 0, 0.349);
}

#reset-button {
    color: black;
}

#reset-button:hover {
    background-color: rgba(148, 148, 148, 0.699);
}

#increase-button {
    color: green;
    position: absolute;
    margin-left: 72px;
}

#increase-button:hover {
    background-color: rgba(0, 128, 0, 0.349);
}

#counter {
    font-size: 60px;
    font-family: monospace;
    color: rgb(103, 81, 129);
    position:relative;
    text-align: center;
    left: 3px;
    top: -50px;
}